@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap');


*{
  font-family: 'Nunito', sans-serif;
  margin:0; padding:0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none; border:none;
  text-transform: capitalize;
  transition: all .2s linear;
}

html{
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 4rem;
}

section{
  padding:2rem 9%;
}
.home{
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  text-align: center;
}

.home .content{
  padding-top: 1rem;
  max-width:50rem;
  margin:0 auto;
}

.home .content h3{
  font-size: 2.5rem;
  color:black;
}

.home .swiper-container {
  width: 100%;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.home .swiper-slide {
  background-position: center;
  background-size: cover;
  width: 30rem;
  height: 50rem;
  box-shadow: 0 15px 50px rgba(0, 0, 0, 0.2);
  filter: blur(2px);
  background: #d1ebff;
  border-radius: 10px;
}
.home .swiper-slide-active{
filter: blur(0px);
background: #fff;
}

.home .swiper-slide img {
  display: block;
  width: 120%;
  height: 100%;
  border-radius: 10px;
}
.home .swiper-slide .heading{
  position: absolute;
  top: 88%;
  left: 10%;
  width: 100%;
  text-align: center;
  color: white;
  font-size: 2rem;
  text-shadow: 5px 5px 10px #000000;
}
.home .swiper-slide .content{
  position: absolute;
  top: 92%;
  left: 10%;
  width: 100%;
  text-align: center;
  color: white;
  font-size: 1.5rem;
  text-shadow: 5px 5px 10px #000000;
}